table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 20px;
}

table {
  border: hidden;
  overflow-y: scroll; /*if rows are in thousands */
  display: block;
}

th {
  background-color: lightblue;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  resize: horizontal;
}

.buttonSort {
  background-color: #04aa6d;
  padding-top: 0px;
  margin: 0px 10px 10px 10px;
}

.buttonSort:hover {
  background-color: lightgreen;
}

.columnTitlePTag {
  margin-bottom: 10px;
}

.sortIcon {
  height: 15px;
  width: 15px;
}

.sizeButton {
  height: 15px;
  width: 15px;
}

.filterInput {
  margin-bottom: 8px;
}
