table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px 15px;
}

table {
  border: hidden;
  overflow-y: scroll; /*if rows are in thousands */
  display: block;
}

th {
  background-color: #384b70;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  resize: horizontal;
}

.columnButton {
  background-color: #507687;
  padding-top: 0px;
  margin: 0px 10px 10px 10px;
  border-radius: 30%;
}

.columnButton:hover {
  background-color: #b8001f;
}

.columnTitlePTag {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.rowDataStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.columnIcon {
  height: 12px;
  width: 12px;
  padding-top: 4px;
  filter: invert(1);
}

.sizeButton {
  height: 15px;
  width: 15px;
}

.filterInput {
  margin-bottom: 8px;
}

.contextMenu {
  background-color: #fcfaee;
  position: absolute;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 12px black;
}

.contextMenu div {
  padding: 2px 8px;
  cursor: pointer;
  font-weight: 600;
}

.contextMenu div:hover {
  background-color: #b8001f;
  color: white;
}

.editIcon {
  width: 10px;
  height: 10px;
  filter: invert(1);
}

.editButton {
  margin-left: 5px;
  background-color: #b8001f;
  border-radius: 20%;
  border: none;
  padding: 3px 6px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editForm {
  display: flex;
  flex: 1;
}
